
.Appt-Form {
    position: absolute;
    right: 0px;
    width: 45%;
    padding: 10px;
  }
  
  .Appt-Container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
  }
  
  .Forecast-Container {
    left: 0px;
    position: absolute;
    width: 55%;
    padding: 10px;
  }